
$breakpoint_desktop :1024px;
$breakpoint_tablet:768px;
$breakpoint_phone: 576px;

@mixin desktop {
  @media (min-width:$breakpoint_desktop ) and (max-width:1279px) {

    @content;
    
  }
    
}

@mixin tablet {
 @media (min-width:$breakpoint_tablet) and (max-width:$breakpoint_desktop){

       @content;

 }
}

@mixin phone{
  @media  (min-width:$breakpoint_phone) and (max-width:$breakpoint_tablet) {
    @content;
  }
}