


.destination__hawaii {

    background-image: url('/asset/image/hawaii.jpg');
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

}

.destination__iceland{

    background-image: url('/asset/image/iceland.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

}

.destination__greece{

    background-image: url('/asset/image/greece.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

}


.destination__cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;


}



.destination__card {
    background: white;

    width: 300px;
    height: 400px;

    border-radius: 8px;


    list-style: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);


}

.destination__title {

    margin-left: 100px;
    padding-top: 50px;
    margin-bottom: 50px;

}

.destination__card-top h3 {
    text-align: center;

}

.destination__card-bottom {
    margin-right: 15px;


}

.destination__card-bottom ul li {
    list-style: none;

    text-align: center;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;

    padding-left: 10px;

    background-color: #FEFAF5;

    padding: 10px;
    margin-right: 20px;
}

.footer {
    display: flex;
    margin-top: 30px;
   

}

.footer__contact {
    margin-left: 100px;
    padding-left: 50px;
    margin-right: 150px;
}

.footer__hour {

    margin-right:50px;

}

.footer__contact--title {
    margin-right: 50px;
    display: flex;
    color:#335576;
   
  

}

.footer_hour--Details {
    display: flex;
    margin-right: 100px;
align-items: baseline;
}

.footer__hour--days {
   margin-top: 20px;
   margin-right: 50px;
    
}
.footer__contact--subtitle{
    margin-top: 40px;
    padding-top:0px;
    color:#DB7A4E;

}

.footer__hour--Daytime{
    margin-right: 0px;
    padding-bottom: 10px;
    margin-top: 0pxs;
   

}

.footer__hour--days{
    color: #DB7A4E; 
}
.sunday{
    margin-right: 10px;
}

.footer_hour--title{
    color: #335576;
}

.footer_social {}

.footer__social--img{
    width:20px;
    height: 20px;
    margin-right: 10px;

}

.footer__social--title{
    margin-bottom: 70px;
    color: #335576;

}
.footer__social--imgs{
    display: flexbox;
    justify-content: space-around;

}