@use 'mixin' as *;

.maincontainer {
    background-color: #FEFAF5;

    display: flex;
    margin-top: 40px;

    &__sentences {
        padding-top: 100px;
        margin-left: 100px;
        padding-right: 100px;
    }

    &__title {

        font-size: 40px;
        color: #335576;
        text-transform: capitalize;
    }



    &__button {

        width: 150px;
        height: 30px;
        border-radius: 12px;
        background-color: #DB7A4E;
        color: #FFFFFF;
        text-decoration: none;
        border: none;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            cursor: pointer;

        }



        .btn-white::after {
            background-color: #335576;
        }

        .btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &__Image {

        width: 500px;
        height: 400px;
        padding-top: 70px;
        padding-right: 70px;
        margin-top: 10px;
        margin-bottom: 20px;

    }

}


@include desktop {

    .maincontainer {

        &__title {
            font-size: 30px;


        }

        &__Image {
            width: 300px;
            height: 300px;
        }





    }
}


@include tablet {

    .maincontainer {



        &__title {
            font-size: 25px;


        }

        &__Image {
            width: 300px;
            height: 300px;
        }





    }
}




/*---------------------*/

.recommendation {


    // position: relative;
    margin-left: 100px;
    margin-top: 20px;

    &__cards {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-right: 100px;
        margin-left: 0px;
        margin-bottom: 100px;
        margin-top: 50px;
    }

    &__card {

        &:hover {

            transform: scale(1.1);
            text-shadow: none;
        }



        &--hawaii {
            list-style: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            width: 300px;
            height: 70vh;
            border-radius: 5px;
            background-image: url('/asset/image/hawaii.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            border: 1px solid rgb(0, 0, 0, 0.2);



        }

        &--iceland {
            list-style: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-image: url('/asset/image/iceland.jpg');
            width: 300px;
            height: 70vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            border: 1px solid rgb(0, 0, 0, 0.2);


        }

        &--greece {

            list-style: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            background-image: url('/asset/image/greece.jpg');
            width: 300px;
            height: 70vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            border: 1px solid rgb(0, 0, 0, 0.2);

        }




    }

    &__subtitle {

        position: relative;
        top: 60vh;

        margin-left: 200px;
        color: #FFFFFF;
        text-decoration: none;



    }

    &__title {
        color: #335576;
    }


}

@include desktop {
    .recommendation {

        &__card {

            &--greece {
                margin-top: 20px;
            }

        }

    }

}

@include tablet {
    .recommendation {


        &__card {

            &--hawaii {
                margin-bottom: 30px;
            }

            &--iceland {
                margin-bottom: 30px;
            }



        }

    }

}

@include phone {
    .maincontainer {
        margin-top: 400px;

    }

    .maincontainer {

        &__title {
            font-size: 20px;


        }

        &__Image {
            width: 300px;
            height: 300px;
        }

    }

    .recommendation {


        &__card {

            &--hawaii {
                margin-bottom: 30px;
            }

            &--iceland {
                margin-bottom: 30px;
            }

            &--greece {
                margin-bottom: 30px;
            }



        }

    }

}